
body {
font-family: 'Niramit';
background-attachment: fixed;
}
h1{
text-align: center;
font-family: 'Great Vibes';
font-size: 80px;
}

.see-below{
padding-top: 30px;
padding-bottom: 30px;
text-align: center;
font-family: 'Great Vibes';
font-size: 50px;

}
.intro {
  margin: auto;
  width: 50%;
}

.all-styles{
text-align: center;
vertical-align: top;
}
.ombretitle{
  text-align: center;
}
.Ombre{
display: inline-block;
width: 20%;
text-align: justify;
}
.balayagetitle{
text-align: center;

}
.Balayage{
  display: inline-block;
  width: 20%;
  padding-right: 30px;
  text-align: justify;

}

.balayage-price{
padding-top: 10px;
color: #c63f4a;
font-size: 18px;
}

.colorationtitle{
  text-align: center;
}
.Full-coloration{
  display: inline-block;
  width: 20%;
  padding-right: 30px;
  text-align: justify;

}

.fullcoloration-price{
  padding-top: 10px;
color: #c63f4a;
font-size: 18px;
}
.highlightstitle{
  text-align: center;
}
.highlights{
  display: inline-block;
  width: 20%;
  padding-right: 30px;
  text-align: justify;

}

.balayageimage{
  padding-top: 15px;
  height: auto;
  width: auto;
  overflow-x: hidden;
  text-align: center;


}
.ombreimage{
  padding-top: 15px;
  height: auto;
  width: auto;
  overflow-x: hidden;
  text-align: center;
}

.ombre-price{
color: #c63f4a;
  padding-top: 10px;
  font-size: 18px;
}

.fullcolorationimage{
  padding-top: 15px;
  height: auto;
  width: auto;
  overflow-x: hidden;
  text-align: center;
}

.highlightimage{
  padding-top: 15px;
  height: auto;
  width: auto;
  overflow-x: hidden;
  text-align: center;
}

.highlight-price{
padding-top: 10px;
color: #c63f4a;
font-size: 18px;
}
