body {
background-color: #000;
color: #fff;
font-family: arial;
}
h1{
  text-align: center;
}
.intro {
  margin: auto;
  width: 50%;
}

.all-styles{
text-align: center;
vertical-align: top;
}
.Ombre{
display: inline-block;
width: 20%;
}
.Balayage{
  display: inline-block;
  width: 20%;
}
.Full-coloration{
  display: inline-block;
  width: 20%;
}
.highlights{
  display: inline-block;
  width: 20%;
}
.balayageimage{
  height: auto;
  width: auto;
  overflow-x: hidden;

}
.ombreimage{
  height: auto;
  width: auto;
  overflow-x: hidden;
}
.fullcolorationimage{
  height: auto;
  width: auto;
  overflow-x: hidden;
}

.highlightimage{
  height: auto;
  width: auto;
  overflow-x: hidden;
}
